body{
	/*
	font: 15px / 1.5, Arial Helvetica sans-serif  is equivalent to:;
	font-size: 15px;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	*/
	
	font: 15px / 1.5, Arial Helvetica sans-serif;
	padding: 0;
	margin: 0;
	background-color: #333FFF;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* Covershot */

#covershot{
	min-height: 250px;
	background: url('../images/Professional Head Shot.jpg') no-repeat 50%, 10px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/* Name and Program */

#nameAndProgram{
	float: top;
	vertical-align: top;
	padding: 0px;
}

/* Boxes */

#boxes{
	float: top;
	width: 30%;
	vertical-align: top;
	padding: 10px;
}

#boxes img{
	align-items: center;
	height: 30px;
	width: 30px;
}







